body {
    font-size: 16px;
    line-height: 1.35;
    color: #000;
    background-color: #fdfdf0;
}

.container  {
    max-width: 1420px;
    padding: 0 10px;
    margin: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-big  {
    max-width: 1840px;
    padding: 0 10px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.menu__list {
    display: flex;
    gap: 0 30px;
}

.menu__link {
text-transform: uppercase;
}

.header__contacts {
    text-transform: uppercase;
    padding: 10px 40px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    border-radius: 40px;
}

.about {
    margin-bottom: 180px;
}

.about__top {
width: 100%;
min-height: 650px;
text-align: center;
color: #fdfdf0;
background-image: url(../images/about.png);
background-repeat: no-repeat;
background-position: center center;
text-transform: uppercase;
border-radius: 50px;
}


.about__title {
font-weight: 600;
font-size: 180px;
line-height: 1.1;
}

.about__text {
font-weight: 500;
font-size: 23px;
line-height: 1.2;
}